In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle

%matplotlib inline

In [20]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier, XGBRegressor
from sklearn.model_selection import GridSearchCV

In [21]:
df = pd.read_csv('ready.csv',index_col=0)
X = df.drop(columns=['state'])
y = df.state
X_train, X_test, y_train, y_test = train_test_split(X,y,stratify = y, test_size=.2,random_state=42)
model = XGBClassifier()
model.fit(X_train, y_train)
y_predX = model.predict(X_test)
y_trainX = model.predict(X_train)

In [22]:
with open ('to_dashboard','wb') as ML:
    pickle.dump(model,ML)

In [23]:
df

,state,backers,usd_pledged_real,usd_goal_real,time_avail,main_category_Art,main_category_Comics,main_category_Crafts,main_category_Dance,main_category_Design,main_category_Fashion,main_category_Film & Video,main_category_Food,main_category_Games,main_category_Journalism,main_category_Music,main_category_Photography,main_category_Publishing,main_category_Technology,main_category_Theater
ID,,,,,,,,,,,,,,,,,,,,
1000002330,0,0,0.0,1533.95,58,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000003930,0,15,2421.0,30000.00,59,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1000004038,0,3,220.0,45000.00,44,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1000007540,0,1,1.0,5000.00,29,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1000014025,1,224,52375.0,50000.00,34,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999975836,0,4,154.0,6500.00,29,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
999977640,0,5,155.0,1500.00,26,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
999986353,0,1,20.0,15000.00,45,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
999987933,0,6,200.0,15000.00,30,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
999988282,0,17,524.0,2000.00,27,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [24]:
X_train.head()

,backers,usd_pledged_real,usd_goal_real,time_avail,main_category_Art,main_category_Comics,main_category_Crafts,main_category_Dance,main_category_Design,main_category_Fashion,main_category_Film & Video,main_category_Food,main_category_Games,main_category_Journalism,main_category_Music,main_category_Photography,main_category_Publishing,main_category_Technology,main_category_Theater
ID,,,,,,,,,,,,,,,,,,,
388128023,14,645.00,600.0,29,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
409712387,644,90386.63,85000.0,29,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1032904224,8,460.00,300.0,59,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1454975423,1,5.00,200.0,29,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
860753017,2681,105294.07,40000.0,31,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [25]:
model.predict(X_train)

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [26]:
X_train.head(1)

,backers,usd_pledged_real,usd_goal_real,time_avail,main_category_Art,main_category_Comics,main_category_Crafts,main_category_Dance,main_category_Design,main_category_Fashion,main_category_Film & Video,main_category_Food,main_category_Games,main_category_Journalism,main_category_Music,main_category_Photography,main_category_Publishing,main_category_Technology,main_category_Theater
ID,,,,,,,,,,,,,,,,,,,
388128023,14,645.0,600.0,29,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [45]:
# model.predict([[14,645.0,600,29,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]])
data = [[14,645.0,600,29,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0]]

In [54]:
dfinput = pd.DataFrame(data=data, columns=X_train.columns)

In [55]:
dfinput

,backers,usd_pledged_real,usd_goal_real,time_avail,main_category_Art,main_category_Comics,main_category_Crafts,main_category_Dance,main_category_Design,main_category_Fashion,main_category_Film & Video,main_category_Food,main_category_Games,main_category_Journalism,main_category_Music,main_category_Photography,main_category_Publishing,main_category_Technology,main_category_Theater
0,14,645.0,600,29,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [56]:
model.predict(dfinput)

array([1], dtype=int64)

In [57]:
X_train.columns

Index(['backers', 'usd_pledged_real', 'usd_goal_real', 'time_avail',
       'main_category_Art', 'main_category_Comics', 'main_category_Crafts',
       'main_category_Dance', 'main_category_Design', 'main_category_Fashion',
       'main_category_Film & Video', 'main_category_Food',
       'main_category_Games', 'main_category_Journalism',
       'main_category_Music', 'main_category_Photography',
       'main_category_Publishing', 'main_category_Technology',
       'main_category_Theater'],
      dtype='object')